<br /> 
<div class="booyah-box col-10 offset-1">
<h1 class="text-center">Kresmlin Palmore</h1>

<p class="bio">
  Kresmlin Palmore is a current student of full stack coding at UC Berkeley who has a previous professional background as life insurance agent and telemarketing supervisor, and an academic background in nursing and business administration.
  
</p>
</div>
